
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  background-image: url("/img/bg.jpg");
  background-size: cover;
}

a {
  text-decoration: none !important;
}

article.home {
  min-height: 300px;
}

article.home > p {
 color: white;
 font-size: larger;
}

article {
 padding: 18px;
}

ul.alert {
 padding: 26px;
}

label {
 color: white;
}

.issue {
 background-color:white;
}

.white {
 background-color:white;
}

.button-box {
 height: 63px;
 width: 100%;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.nav-head {
  background-color: #2c3e50;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

nav > a {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}

nav > a:hover, nav > a:focus {
  color: #fff;
  text-decoration: none;
}

nav .active {
  color: #fff;
}

nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
}

header > h1 {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
  color: white;
}

header > p {
  font-size: 20px;
  color: white;
}

footer {
  padding: 40px 0;
  color: white;
  text-align: center;
}

footer > p:last-child {
  margin-bottom: 0;
}
